@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --bg-1: #0a192f;
  --bg-2: #808080;
  --bg-3: lightgray;
  --btncolor: lightseagreen;
  --white: white;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}